@import url("reset.css");

* { box-sizing: border-box; }

body {
  font: normal 16px arial, sans-serif;
  min-height: 100vh;
  min-width: 1000px;
  position: relative;
  padding-bottom: 150px;
}

strong { font-weight: bold; }

a {
  color: black;
  text-decoration: none;
}

a:hover { text-decoration: underline; }

.left { float: left; }
.right { float: right; }

.clearfix::before,
.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

/* HEADER */

header {
  background: #fafafa;
  position: relative;
  padding: 20px 20px 0 170px;
}

.logo {
  position: absolute;
  left: 20px;
}

.logo img { height: 50px; }

.search {
  background: white;
  width: 600px;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 10px 1px #e4e4e4;
}

input {
  font: normal 16px arial, sans-serif;
  width: 87%;
  padding: 5px;
  border: none;
}

input:focus { outline: none; }

.voice,
.search-icon svg {
  width: 25px;
  margin: 0 5px;
  vertical-align: middle;
  cursor: pointer;
  fill: #4285f4;
}

header ul { line-height: 50px; }
header li { display: inline-block; }
.profile li { margin-left: 20px; }

.menu,
.notifications,
.profile-pic {
  display: inline-block;
  vertical-align: middle;
  text-indent: -9999px;
}

.menu,
.notifications {
  background: url("./images/sprite.png");
  opacity: .75;
}

.menu:hover,
.notifications:hover {
  opacity: 1;
}

.menu {
  background-position: -132px -38px;
  height: 30px;
  width: 30px;
}

.notifications {
  background-position: -194px -21px;
  background-color: black;
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

.profile-pic {
  background: url("./images/profile-pic.jpg");
  border-radius: 100%;
  height: 32px;
  width: 32px;
}

nav {
  font-size: 13px;
  padding: 10px 10px 0 10px;
  line-height: 50px;
}

nav li {
  padding: 0 10px;
  opacity: .75;
}

nav li:hover { opacity: 1; }
nav a:hover { text-decoration: none; }

nav li.active {
  color: blue;
  border-bottom: 3px solid #4285fa;
}

nav li.active a {
  color: #4285fa;
  font-weight: bold;
}


/* MAIN */

main {
  width: 600px;
  margin-left: 170px;
}

.num-results {
  color: #808080;
  font-size: 13px;
}

.num-results,
.results li,
.related {
  padding: 15px;
}

.main-result {
  position: relative;
  margin-bottom: 50px;
  padding: 10px;
  box-shadow: 0 2px 10px 1px #e4e4e4;
}

.bold-list {
  counter-reset: item;
  margin-bottom: 20px;
}

.unbold-list {
  margin-bottom: 20px;
  counter-reset: items;
}

.bold-list,
.unbold-list {
  list-style-type: none;
}

.bold-list li,
.unbold-list li {
  margin: 5px;
  list-style-type: none;
}

.bold-list > li {
  font-weight: bold;
  counter-increment: item;
}

.unbold-list > li { counter-increment: items; }

.bold-list > li:before,
.unbold-list > li:before {
  padding-right: .5em;
}

.bold-list > li:before {
  font-weight: bold;
  content: counter(item) ".";
}

.unbold-list > li:before { content: counter(items) "."; }

.unbold-list > li.more-items:before {
  padding-left: 15px;
  content: "";
}

.more-items { padding: 10px 0; }

.more-items a {
  color: #777;
  font-size: 14px;
}

.about {
  position: absolute;
  right: 0;
  bottom: -25px;
}

.about li {
  display: inline-block;
  margin: 0 10px;
}

.about a {
  color: #777;
  font-size: 12px;
}

.about svg {
  vertical-align: middle;
  width: 12px;
  margin-right: 5px;
  fill: #777;
}

.title {
  color: #1a0dab;
  font-size: 18px;
}

.link {
  color: #006621;
  font-size: 14px;
  padding: 3px 0;
}

.caret { cursor: pointer; }

.description {
  color: #545454;
  font-size: 13px;
}

time { color: #808080; }

.related h3 {
  margin-bottom: 20px;
  font-size: 18px;
}

.related ul { display: inline-block; }
.related ul + ul { margin-left: 30px; }

.related li {
  font-size: 14px;
  margin: 10px 0;
}

.related a { color: #1a0dab; }

table { margin: 0 auto; }

table td {
  position: relative;
  background: url("./images/nav-sprite.png") no-repeat;
}

table a {
  color: #4285f4;
  font-size: 13px;
}

.start {
  width: 28px;
  height: 40px;
  background-position: -24px 0;
}

.o span {
  position: relative;
  display: block;
  bottom: -35px;
  text-align: center;
}

.current,
.other {
  width: 20px;
}

.current { background-position: -53px 0; }

.other {
  background-position: -74px 0;
  cursor: pointer;
}

.other:hover,
.next:hover {
  text-decoration: underline;
}

.next {
  width: 71px;
  background-position: -96px 0;
  cursor: pointer;
}

.next span {
  position: relative;
  bottom: -35px;
  left: 50px;
}


/* FOOTER */

footer {
  position: absolute;
  bottom: 0;
  background: #f2f2f2;
  width: 100%;
  opacity: .75;
}

footer p { font-size: 15px; }

footer li {
  display: inline-block;
  font-size: 13px;
}

footer li + li { margin-left: 20px; }

footer p,
footer ul {
  padding: 15px 0 15px 170px;
  border-top: 1px solid #e4e4e4;
}
